.tse-text-editor {
  min-height: 400px;
  border: 1px solid black;
  padding: 24px;
}

.tse-editor-toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.tse-toolbar-item {
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
  min-width: 30px;
  padding: 5px;
}

.tse-toolbar-item:hover,
.tse-toolbar-item.active {
  background: #f0f0f0;
}

.tse-toolbar-separator {
  border-left: solid 1px #e0e0e0;
  margin-right: 7px;
}

.tse-toolbar-separator:last-child {
  display: none;
}

.hidden {
  visibility: hidden;
  height: 0px;
  width: 0px;

  transform: 0.3s ease-in-out;
}
