#tse-editor img {
    max-width: 30vw;
    max-height: 30vh;
}

.tse-tse-editor {
    min-height: 400px;
    border: 1px solid black;
    padding: 24px;
}

.tse-editor-toolbar {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.tse-toolbar-item {
    background: #ffffff;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 7px;
    min-width: 30px;
    padding: 5px;
}

.tse-toolbar-item:hover,
.tse-toolbar-item.active {
    background: #f0f0f0;
}

.tse-toolbar-separator {
    border-left: solid 1px #e0e0e0;
    margin-right: 7px;
}

.tse-toolbar-separator:last-child {
    display: none;
}

.hidden {
    visibility: hidden;
    height: 0px;
    width: 0px;

    transform: 0.3s ease-in-out;
}

.tse-image-upload-popup {
    position: absolute;
    top: 50px;
    left: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 4px;
}

.tse-image-upload-popup button {
    color: black;
    background-color: white;
    margin: 4px 0px;
    border: none;
    padding: 2px 0px;
    border: 1px solid black;
    border-radius: 4px;
}

.tse-image-upload-popup button:hover {
    color: white;
    background-color: black;
    transition: all 0.2s ease-in-out;
}

.tse-image-upload-popup input {
    color: black;
    background-color: white;
}
